p {
	color: navy;
}

p.info {
	font-size: 10pt;
	font-size: small;
	background-color: #dfdfdf;
}

h1 {
	color: white;
	text-shadow: 2px 2px 5px navy;
}

h2 {
	font-family: cursive;
	color: #3f3faf;
	margin: 5px;
	background: linear-gradient(to right, white, #ffefaf);
}

div#zentai {
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 200px;
	margin-right: 10px;
	width: 1024px;
}

div#zentai > div {
	padding: 5px;
	background-color: #ffefaf;
}

#zentai img {
	float: right;
}

